/* .header-wrapper {
  text-align: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  width: 100%;
}

.main-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.your-hand-wrapper {
  text-align: center;
}

.hand-deck {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dealer-deck-wrapper {
  text-align: center;
}

.dealer-deck {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.hidden {
  display: none;
} */
